body {
    background-color: #00203f;
}

.coach-card {
    margin-bottom: 20px;
    background-color: #004175;
    color: #ff6700;
}

.coach-info, .card-title, h1 {
    color: #ff6700;
    font-size: 18px;
}

h1 {
    color: #ff6700;
}

body.-background {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.v-text {
    color: #ff91af;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}
